.nav-link.active.show{
  //background-color: #ACACAC !important;
  background-color: #AFE1DE !important;
  border: #639492 solid 3px;
  border-radius: 10px;
}

.nav-link{
  border: #AFE1DE solid 3px;
}

.btn-sec{
  border-radius: 10px;
  background-color: #CACACA;
  margin: 10px;
}

svg path {
  background-color: antiquewhite;
}
.body-areas-svg path {
  stroke: black;
  stroke-width: 0.2em;
  fill: #fce1d8;
}

.body-areas-svg path:hover {
  cursor: pointer;
  fill: #ffa288;
}

.body-areas-svg path.check {
  fill: #fce1d8;

}

.body-areas-svg path.on {
  fill: #ea6a46;
}
