<div class=" ">

  <div class="d-flex flex-column align-items-center">
    <div class="d-flex align-items-center p-3">
      <img alt="WoDokLogo" class="m-2" height="100px" src="assets/img/doctors.png" width="auto">
      <a href="/" style="font-size: 2.5rem; color: black; text-decoration: none">WoDok</a>
    </div>
    <div class="d-flex rectangle round-corner flex-column align-items-center mx-auto">

      <h3 class="mx-auto">Register</h3>
      <form (ngSubmit)="registerUser()" [formGroup]="registerForm" class="d-flex flex-column align-items-center">
        <table class="example-full-width">
          <tr>
            <td>
              <label for="vorname">Vorname</label><br>
              <input class="rectangle bg-white" formControlName="vorname" id="vorname" type="text">
            </td>
            <td>
              <label for="nachname">Nachname</label><br>
              <input class="rectangle bg-white" formControlName="nachname" id="nachname" type="text">
            </td>
          </tr>
          <tr>
            <td>
              <label for="email">Email</label><br>
              <input class="rectangle bg-white" formControlName="email" id="email" type="text">
            </td>
            <td>
              <label for="geburtstag">Geburtstag</label><br>
              <input class="rectangle bg-white" formControlName="geburtstag" id="geburtstag" type="text">
            </td>
          </tr>
          <tr>
            <td>
              <label for="geburtstag">Street</label><br>
              <input class="rectangle bg-white" formControlName="street" id="street" type="text">
            </td>
            <td>
              <label for="geburtstag">City</label><br>
              <input class="rectangle bg-white" formControlName="city" id="city" type="text">
            </td>
          </tr>
          <tr>
            <td>
              <label for="geburtstag">ZIP</label><br>
              <input class="rectangle bg-white" formControlName="zip" id="zip" type="text">
            </td>
            <td>
              <label for="geburtstag">Country</label><br>
              <input class="rectangle bg-white" formControlName="country" id="country" type="text">
            </td>
          </tr>
        </table>
        <div style="">
          <label for="password">Passwort</label><br>
          <input class="rectangle bg-white" formControlName="password" id="password" type="password">
        </div>

        <div>
          <button class="mt-2 btn btn-outline-secondary" type="submit">Registrieren</button>
        </div>

      </form>


    </div>
  </div>

  <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Authentication problems!</strong> {{ errorMessage }}
    <button (click)="vanishError()" aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
