<div class="prim">
  <nav class="navbar navbar-expand-lg wodok py-4">
    <img alt="WoDokLogo" class="m-2" height="50px" src="assets/img/doctors.png" width="auto">
    <a class="navbar-brand text-black" routerLink="/" style="font-size: 30px">WoDok</a>
    <div class="dropstart" style="margin-left: auto;">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-prim dropdown-toggle" data-bs-toggle="dropdown"
              id="dropdownMenuButton" type="button">
        <i class="bi bi-person-fill p-2" style="font-size: 25px"></i>
      </button>
      <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
        <a (click)="authService.logoutUser()" *ngIf="authService.isLoggedIn()" class="dropdown-item" href="#">Logout</a>
        <a *ngIf="!authService.isLoggedIn()" class="dropdown-item" href="/login">Login</a>
        <div *ngIf="authService.isLoggedIn()" class="dropdown-item">{{authService.getusername()}}</div>
      </div>
    </div>

  </nav>
</div>
<nav>
  <div [ngbCollapse]="isCollapsed" class="sec" id="navbarToggle">
    <ul class="nav mt-2 mt-lg-0 wodok">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/infos">Informationen</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/practitioners">Ärzte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fragebogen">Fragebogen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="practitioners/suche">Arztsuche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/termin-uebersicht">Terminübersicht</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="#">Terminerinnerung</a>-->
<!--      </li>-->
    </ul>
  </div>
</nav>
