<div class=" ">

  <div class="d-flex flex-column align-items-center">
    <div class="d-flex align-items-center p-3">
      <img alt="WoDokLogo" class="m-2" height="100px" src="assets/img/doctors.png" width="auto">
      <a href="/" style="font-size: 2.5rem; color: black; text-decoration: none">WoDok</a>
    </div>
    <div class="d-flex rectangle round-corner flex-column align-items-center mx-auto">
      <h3 class="mx-auto">Bestätigung</h3>
      <table>
        <tr>
          <th>Datum</th>
          <th>Von</th>
          <th>Bis</th>
        </tr>
        <tr>
          <td>{{appointment.start.getDate()}}</td>
          <td>{{appointment.start.getTime()}}</td>
          <td>{{appointment.end.getTime()}}</td>
        </tr>
      </table>
      <button (click)="bestaetigung()" class="mt-2 btn btn-outline-secondary" type="submit">Bestätigen</button>
    </div>
  </div>
